@font-face {
	font-family: 'Lexend';
	src: url('../resources/Lexend.ttf');
}

@font-face {
	font-family: 'Comodo';
	src: url('../resources/Comodo-Regular.ttf');
}

/* https://coolors.co/palette/022b3a-1f7a8c-048a81-42606c-edf2f4-fbfcfd */
:root {
	--black: #161C24;
	--black-rgb: 22, 28, 36;
	--jet: #022B3A;
	--jet-rgb: 2, 43, 58;
	--teal: #1F7A8C;
	--teal-rgb: 31, 122, 140;
	--cyan: #048A81;
	--cyan-rgb: 4, 138, 129;
	--slate: #42606C;
	--slate-rgb: 66, 96, 108;
	--silver: #8A9DB0;
	--silver-rgb: 138, 157, 176;
	--platinum: #EDF2F4;
	--platinum-rgb: 237, 242, 244;
	--snow: #FBFCFD;
	--snow-rgb: 251, 252, 253;
	--error: #e74c3c;
	--error-dark: #c0392b;
}

* {
	padding: 0;
	margin: 0;
	font-family: Lexend;
}

::selection {
	background-color: var(--teal);
	color: var(--snow);
}

body {
	height: auto;
	width: 100%;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	color: var(--jet);
	background-color: var(--snow);
}